<!DOCTYPE HTML>
<html>
<head>
  <link rel="icon" href="images/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <title>The Chitrakars: Magic Wand</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!-- <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script src="/js/jquery.easydropdown.js"></script>
<!--Animation-->
<script src="/js/wow.min.js"></script>
<link href="/css/animate.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/css/popup.css">
<script type="text/javascript" src="/js/popup.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="/js/ui_constants.js"></script>
<style type="text/css">
#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
div#popupContact {
position:absolute;
left:50%;
top:1%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
width:100%;
/*max-width:500px;
min-width:250px;*/
padding:60px 150px 90px 10px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
input[type=text] {
    /*margin-top: 50%;*/
width:120%;
border:1px solid #ccc;
font-size:16px;
font-family:raleway
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}
  </style>
<script type="text/javascript">
    function div_show(val) {

document.getElementById('abc').style.display = "block";
entireData=<%- JSON.stringify(data) %>;
    entries =(entireData).map(function(elem)
    {
      if(val==elem._id)
      {
        document.getElementById('templateId').value=elem._id;
        document.getElementById('templateName').value=elem.TemplateName;
        document.getElementById('templateAEPFile').value=elem.TemplateAEPFile;
        document.getElementById('TemplateRedirectFileName').value=elem.TemplateRedirectFileName;
        document.getElementById('TemplateIconClassWidth').value=elem.TemplateIconClassWidth;
        document.getElementById('TemplateIconClassHeigth').value=elem.TemplateIconClassHeigth;
        document.getElementById('TemplateDemoVideo').value=elem.TemplateDemoVideo;
        document.getElementById('TemplateSubtitle').value=elem.TemplateSubtitle;
        document.getElementById('dbIconimage').src=elem.TemplateIcon;
        document.getElementById('dbIconimageUrl').value=elem.TemplateIcon;
        document.getElementById('dbTemplateimage').src=elem.TemplateImage;
        document.getElementById('dbTemplateimageUrl').value=elem.TemplateImage;
       
        document.getElementById('dbTemplateRedirectFileName').value=elem.TemplateRedirectFile;
        document.getElementById('dbTemplateRedirectFileNameUrl').value=elem.TemplateRedirectFile;
         document.getElementById('TemplateImage').value=elem.TemplateImage;
        document.getElementById('TemplateRedirectFile').value=elem.TemplateRedirectFile;
        
        
      }
      
    });

}
function div_hide(){
document.getElementById('abc').style.display = "none";
}
function show(template_icon_id,anchore_tag_id,imageicon_id){  
document.getElementById(template_icon_id).style.display = "block";
document.getElementById(anchore_tag_id).style.display = "none";
document.getElementById(imageicon_id).style.display = "none";
}
function readURL(input,template_icon_id,anchore_tag_id,imageicon_id) {
// alert(input.files[0]);
if(input.files[0]==undefined)
{
document.getElementById(imageicon_id).style.display = "block";
document.getElementById(template_icon_id).style.display = "none";
document.getElementById(anchore_tag_id).style.display = "block";

}
else
{
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      document.getElementById(template_icon_id).style.display = "block";
      document.getElementById(anchore_tag_id).style.display = "none";
      document.getElementById(imageicon_id).style.display = "none";
    }
    reader.readAsDataURL(input.files[0]);
  }
}
}
function deleteTemplate(id)
{
   // var templateId =id;
                  // var url='http://localhost:80/deleteTemplate';
                  var url=globalURL+'/deleteTemplate';
                    $.post(url,
                    {
                      templateId:id,
                    },
                    function(data){
                      window.location.reload(true);
                      
                    });
}
</script>
</head>
<body>

   <div class="content_middle">
      <div class="container">
        <div class="content_middle_box">
          <div class="top_grid">
 <% entries =JSON.parse(JSON.stringify(data)).map(function(elem) {%>
            <div class="col-md-3" style="margin-top:1%">
              
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="<%= elem.TemplateImage %>
" class="img-responsive" alt=""/></div>
                    <!-- <div class="sale">PREMIUM</div> -->
                      <div class="mask">
                       
                        <br><br>
                       <!--  <i class="material-icons" value='<%= elem._id %>' onclick='deleteTemplate(this.value)'>delete</i> -->
                       <!--  <button style="width: 250px;background-color: transparent;border: none;">
    <i class="material-icons"  value='<%= elem._id %>' onclick='deleteTemplate(this.value)'></i>delete</button> -->
                      <!--  <button class="w3-btn w3-orange w3-xlarge" style="width: 250px;" value='<%= elem._id %>' onclick='deleteTemplate(this.value)'>Delete<i class="w3-margin-left material-icons">delete</i></button> -->
                     
                       </div>

                   </div> 
                   <!-- 
                    <button  style="width: 250px;" value='<%= elem._id %>' onclick="div_show(this.value)">Update Template<i class="w3-margin-left material-icons">edit</i></button> -->
                   <i class="home" style="background: url('<%= elem.TemplateIcon %>')no-repeat <%=elem.TemplateIconClassWidth %> <%=elem.TemplateIconClassHeigth %>;"></i>
                 <div class="inner_wrap">
                    <h3><%= elem.TemplateName %></h3>
                    <ul class="star1">
                      <h4 class="green"><%= elem.TemplateSubtitle %></h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                 </div>
                 <div style="width:100%">
                 <button class="w3-btn w3-orange w3-midium" style="float:left;width:50%;" value='<%= elem._id %>' onclick="div_show(this.value)">Update<i class="w3-margin-left material-icons">edit</i></button>
                 <button class="w3-btn w3-red w3-midium" style="float:right;width:50%" value='<%= elem._id %>' onclick='deleteTemplate(this.value)'>Delete<i class="w3-margin-left material-icons">delete</i></button>
               </div>
               </div>
               
            </div>
<%}) %>
           
            
           
        </div>
      </div>
    </div>
  </div>
  <div id="abc">
    <div id="popupContact" >
<form method="post" action='/updatetemplate' enctype="multipart/form-data">
  <div class="form-group" style=" margin-top: -15%;">
    <i class="fa fa-times"  onclick ="div_hide()"></i>
   <input type="text" class="form-control" id="templateId" name='templateId' style="display: none;">
   </div>
  <div class="form-group">
    <label for="">Template Name</label>
    <input type="text" class="form-control" id="templateName" name='TemplateName' placeholder="Enter your template name">
  </div>
  <div class="form-group">
    <label for="">AEP File Name</label>
    <input type="text" class="form-control" id="templateAEPFile" name='TemplateAEPFile' placeholder="Enter your template AEPFile">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select redirect url</label>
    <select class="form-control" name='TemplateRedirectFileName' id='TemplateRedirectFileName'>
       <option>Select template redirecturl</option>
      <option>productExplainer</option>
      <option>webWalkthrough</option>
      <option>companyProfile</option>
     
    </select>
  </div>
 
  <div class="form-group">
    <label for="">Icon</label>
    <img src="" id='dbIconimage'  width="50px;" />
    <input type="text" name="dbIconimageUrl" id='dbIconimageUrl' style="display: none">
    <a onclick="show('TemplateIcon','changeiconfile_anchortagid','dbIconimage');" id='changeiconfile_anchortagid'>Want to change icon file</a>
    <input type="file" class="form-control-file" id="TemplateIcon" name='TemplateIcon' style="display: none;" onchange="readURL(this,'TemplateIcon','changeiconfile_anchortagid','dbIconimage');" onclick="readURL(this,'TemplateIcon','changeiconfile_anchortagid','dbIconimage');">
  </div>
  <div class="form-group">
    <label for="">Icon class width</label>
    <input type="text" class="form-control" id="TemplateIconClassWidth" name='TemplateIconClassWidth' >
  </div>
  <div class="form-group">
    <label for="">Icon class height</label>
    <input type="text" class="form-control" id="TemplateIconClassHeigth" name='TemplateIconClassHeigth' >
  </div>
  <div class="form-group">
    <label for="">Demo video URl</label>
    <input type="text" class="form-control" id="TemplateDemoVideo" name='TemplateDemoVideo' >
  </div>
  <div class="form-group">
    <label for="">Template Subtitle</label>
    <input type="text" class="form-control" id="TemplateSubtitle" name='TemplateSubtitle' >
  </div>
  <div class="form-group">
    <label for="">Template Redirect Filename</label>
    <p id='dbTemplateRedirectFileName' wisth='50px;'></p>
     <input type="text" name="dbTemplateRedirectFileNameUrl" id='dbTemplateRedirectFileNameUrl' style="display: none">
    <a onclick="show('TemplateRedirectFile','changetemplateredirectfile_anchortagid','dbTemplateRedirectFileName');" id='changetemplateredirectfile_anchortagid'>Want to change Template Redirect Filename</a>

    <input type="file" class="form-control-file" id="TemplateRedirectFile" name='TemplateRedirectFile' style="display: none;" onchange="readURL(this,'TemplateRedirectFile','changetemplateredirectfile_anchortagid','dbTemplateRedirectFileName');" onclick="readURL(this,'TemplateRedirectFile','changetemplateredirectfile_anchortagid','dbTemplateRedirectFileName');">
  </div>
 <div class="form-group">
    <label for="">Template image</label>
    <img src="" id='dbTemplateimage' width="50px;" />
    <input type="text" name="dbTemplateimageUrl" id='dbTemplateimageUrl' style="display: none">
    <a onclick="show('templateImage','changetemplatefile_anchortagid','dbTemplateimage');" id='changetemplatefile_anchortagid'>Want to change Template image</a>
    <input type="file" class="form-control-file" id="templateImage" name="TemplateImage" style="display: none;" onchange="readURL(this,'templateImage','changetemplatefile_anchortagid','dbTemplateimage');" onclick="readURL(this,'templateImage','changetemplatefile_anchortagid','dbTemplateimage');">
  </div>
  <button type="submit" class="btn btn-primary pull-left" style="width: 100px">Submit</button>
   
</form>
</div>

</div>
</body>
</html>
