
<!DOCTYPE HTML>
<html>
<head>
  <link rel="icon" href="images/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
<title>The Chitrakars: Magic Wand</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!-- <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script src="/js/jquery.easydropdown.js"></script>
<!--Animation-->
<script src="/js/wow.min.js"></script>
<link href="/css/animate.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/css/popup.css">
<script type="text/javascript" src="/js/popup.js"></script>
<style type="text/css">
  .loading {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2000;
    background: url(http://1.bp.blogspot.com/-nfXo9GWbDtM/VOn0vr4yLMI/AAAAAAAABCA/dDNgd7_QCFo/s1600/block-loader.gif) no-repeat center center;
    height: 32px;
    width: 32px;
}

.loading:after {
  position: absolute;
  top: 8px;
  left: 40px;
  content: 'Loading...';
}
body {
    position: relative;
    display: block;
}
</style>
<script>
    new WOW().init();
</script>
<script type="text/javascript">
   

    $(window).load(function(){
//  $('.play-single').mouseover(function(e){
//     var currentVideoId = $(this).attr('href');
//     // $(".sly-main-slider").addClass("loading");
// // $(".sly-main-slider div").hide();
     
//      // setTimeout(function(){ 
//       $.magnificPopup.open({
//   items: {
//     src: currentVideoId
//   },
//   type: 'iframe'
// });
//  // $(".sly-main-slider div").show();
//     // $(".sly-main-slider").removeClass("loading");
// // }, 3000);
  
// });
 $(".play-single").magnificPopup({
        type: "iframe"
    });
 
});
</script>
    <script src='/js/firebase.js'></script>
 <script >
    var config = {
    apiKey: "AIzaSyCZWa5wChnendahT6sTdfNJhmFbnI8Cz5g",
    authDomain: "productexplainer.firebaseapp.com",
    databaseURL: "https://productexplainer.firebaseio.com",
    projectId: "productexplainer",
    storageBucket: "productexplainer.appspot.com",
    messagingSenderId: "350462790215"
};

firebase.initializeApp(config);
var messaging = firebase.messaging();
messaging.onMessage((notif) => {
    var title=notif.notification.title;
var options ={
body:notif.notification.body,
icon:notif.notification.icon
}
noti= new Notification(title, options);
 });
 </script>
    <script type="text/javascript">
   
            $(document).ready(function() { 
                    
                    var userLoggedIn = '<%= userLoggedIn %>';
                   
                    if(userLoggedIn=='false')
                    {
                         $('#loginContainer').show();
                
                        alert("Please log in to view the form");
                    }
                     if(userLoggedIn=='true')
                    {
                        
                         $('#loginContainer').hide();
                    }

           });

function search_for_type()
{
  
} 
</script>

</head>
<body>
 
<div class="header">
           <div class="col-sm-8 header-left">
                     <div class="logo">
                        <a href=""><img src="/images/logo.png" alt="" height="150" align="left"/></a>
                     </div>
                     <div class="menu">
                          <a class="toggleMenu" href="#"><img src="/images/nav.png" alt="" /></a>
                            <ul class="nav" id="nav">
                                <li class="active"><a href="#">Categories</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">HOW IT WORKS?</a></li>
                                <li><a href="#">WHERE CAN YOU MARKET?</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <div class="clearfix"></div>
                            </ul>
                            <script type="text/javascript" src="/js/responsive-nav.js"></script>
                    </div>  
                     <!-- start search-->
                      <div class="search-box">
                            <div id="sb-search" class="sb-search">
                                <form>
                                    <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search" >
                                    <input class="sb-search-submit"  onclick="search_for_type()">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>
                        
                        <script src="/js/classie.js"></script>
                        <script src="/js/uisearch.js"></script>
                        <script>
                            new UISearch( document.getElementById( 'sb-search' ) );
                        </script>
                    <div class="clearfix"></div>

                </div>
                <!-- <div class="col-sm-4 header_right">
                      <div id="loginContainer"><a href="#" id="loginButton"><img src="images/login.png"><span>Login</span></a>
                            <div id="loginBox">                
                                <form id="loginForm" name="signInForm" action="/auth/signIn" method="post">
                                        <fieldset id="body">
                                            <fieldset>
                                                  <label for="email">Email Address</label>&nbsp;&nbsp;
                                                  <input type="text" name="email" id="email">
                                            </fieldset>
                                            <fieldset>
                                                    <label for="password">Password</label>&nbsp;&nbsp;
                                                    <input type="password" name="password" id="password">
                                             </fieldset>
                                       </br>
                                     
                                            <input type="submit" id="login" value="Sign in">
                                            <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                        </fieldset>
                                         <span><a href="#">Forgot your password?</a></span>
                                  </form>
                          </div>
                         </div> -->
                         <form id="" name="" action="/logout" method="post">
                         
                       <button class="col-sm-4 " style="background-color: #f44336;padding:22px" type="submit">Logout</button>
       

                     
                             
                            </form>


                      <div class="clearfix"></div>
                     <!-- </div> -->
                    <div class="clearfix"></div>
   </div>
 

<!-- </div> -->
   <div class="banner">
      <div class="container_wrap">
        <h1>What are you looking for?</h1>
           <div class="dropdown-buttons">   
                      <div class="dropdown-button">                     
                      <select>
                            <option selected="" tabindex="9" style="display:none;color:#eee;">Explainers</option>
                            <option>Promotional videos</option>
                            <option>Pitch Deck videos</option>
                            <option>Lean Canvas</option>
                            <option>Wedding Invitations</option>
                            <option>Video Resumes</option>
                            <option>App explainers</option>
                            <option>Video Presentations</option>
                            <option>Video Campaigns</option>      
                      </select>
                    </div>
                     <div class="dropdown-button">
                       <select>
                            <option selected="" tabindex="9" style="display:none;color:#eee;">IT Industry</option>
                            <option>Pharmacy Industry</option>
                            <option>Health Industry</option>
                            <option>Education Industry</option>
                            <option>Construction Industry</option>
                            <option>Entertainment Industry</option>
                            <option>Events,Celebrations</option>
                            <option>Miscellaneous</option>      
                      </select>
                     </div>
                   </div>  
            <form>
                <input type="text" value="Keyword, name, date, ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">
                <div class="contact_btn">
                   <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
                </div>
            </form>             
            <div class="clearfix"></div>
         </div>
   </div>
   <div class="content_top">
      <div class="container">
        <div class="col-md-4 bottom_nav">
           <div class="content_menu">
                <ul>
                    <li class="active"><a href="#">Recommended</a></li> 
                    <li><a href="#">Latest</a></li> 
                    <li><a href="#">Highlights</a></li> 
                </ul>
            </div>
        </div>
        <div class="col-md-4 content_dropdown1">
           <div class="content_dropdown">    
              
                        <select>
                            <option selected="dropdown" tabindex="9" style="display:none;color:#eee;">Explainers</option>
                            <option>Promotional videos</option>
                            <option>Pitch Deck videos</option>
                            <option>Lean Canvas</option>
                            <option>Wedding Invitations</option>
                            <option>Video Resumes</option>
                            <option>App explainers</option>
                            <option>Video Presentations</option>
                            <option>Video Campaigns</option>      
                      </select>
              
             </div>
             <div class="content_dropdown">    
              <select>
                        <option selected="dropdown" tabindex="9" style="display:none;color:#eee;">Industry</option> 
                        <option>IT Industry</option>
                        <option>Pharmacy Industry</option>
                        <option>Health Industry </option>
                        <option>Education Industry</option>
                        <option>Construction Industry </option>
                        <option>Entertainment Industry</option>
                        <option>Events,Celebrations</option>
                           <option>Miscellaneous</option> 
                </select>
               </div>
        </div>
        <div class="col-md-4 filter_grid">
            <ul class="filter">
                <li class="fil">Filter :</li>
                <li><a href=""> <i class="icon1"> </i> </a></li>
                <li><a href=""> <i class="icon2"> </i> </a></li>
                <li><a href=""> <i class="icon3"> </i> </a></li>
                <li><a href=""> <i class="icon4"> </i> </a></li>
                <li><a href=""> <i class="icon5"> </i> </a></li>
            </ul>
        </div>
    </div>
   </div>
   
   <div class="content_middle">
      <div class="container">
        <div class="content_middle_box">
          <div class="top_grid ">
 <% entries =JSON.parse(JSON.stringify(data)).map(function(elem) {%>
            <div class="col-md-3" style="margin-top:1%">
              
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="<%= elem.TemplateImage %>
" class="img-responsive" alt=""/></div>
                    <!-- <div class="sale">PREMIUM</div> -->
                      <div class="mask">
                        <% if(elem.TemplateRedirectFile ==null){ %>
   
 <% } else{ %>  
  <div class="info"><i class="search"> </i><a href="/<%= elem._id%>?Email=klnr66@gmail.com" style='color:black'>Fill out the form</a></div>
<% } %>
                        <br>
                        <div class='sly-main-slider'>
    <div>
                         <% if(elem.TemplateDemoVideo ==''){ %>
   
 <% } else{ %>  
                        <a href="<%= elem.TemplateDemoVideo %>" class="play-single" style='color:black'>Play demo video</a><% } %>
                      </div>
                    </div>
                    <br>
                        <!-- <ul class="mask_img"> -->
                           <!--  <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li> -->
                            <!-- <div class="clearfix"> </div> -->
                        <!-- </ul> -->
                       </div>

                   </div> 
                   <i class="home" style="background: url('<%= elem.TemplateIcon %>')no-repeat <%=elem.TemplateIconClassWidth %> <%=elem.TemplateIconClassHeigth %>;"></i>
                 <div class="inner_wrap">
                    <h3><%= elem.TemplateName %></h3>
                    <ul class="star1">
                      <h4 class="green"><%= elem.TemplateSubtitle %></h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                 </div>
               </div>
               
            </div>

<%}) %>
<!-- <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> -->
            <!-- <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img1"><img src="/images/pic2.png" class="img-responsive" alt=""/></div>
                     <div class="mask">
                        <div class="info"><i class="search"> </i> <a href="/createObj/webWalkthrough" >Fill out the form</a></div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home1"> </i>
                 <div class="inner_wrap">
                    <h3>Promotional videos</h3>
                    <ul class="star1">
                      <h4 class="yellow">Create your own promotional videos</h4>
                      <li><a href="#"> <img src="/images/star2.png" alt="">(136)</a></li>
                    </ul>
                 </div>
               </div>
            </div> -->

           <!--  <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img2"><img src="/images/pic4.png" class="img-responsive" alt=""/></div>
                     <div class="mask">
                        <div class="info"><i class="search"></i><a href="/createObj/companyProfile" > Fill out the form</a></div><br>
                        <a href="https://player.vimeo.com/video/226276555" class="play-single" >Play demo video</a><br>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home2"> </i>
                 <div class="inner_wrap">
                    <h3>Company Profile Videos</h3>
                    <ul class="star1">
                      <h4 class="blue">Create your own company profile videos</h4>
                      <li><a href="#"> <img src="/images/star2.png" alt="">(136)</a></li>
                    </ul>
                 </div>
               </div>
            </div> -->

            <!-- <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="/images/pic8.png" class="img-responsive" alt=""/></div>
                     <div class="sale">PREMIUM</div>
                      <div class="mask">
                      <div class="info"><i class="search"> </i> Fill out the form</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                  <i class="home"></i>
                  <div class="inner_wrap">
                    <h3>Toon Explainers</h3>
                    <ul class="star1">
                      <h4 class="green">Create your own explainers with toon characters</h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                  </div>
               </div>
            </div> -->
            
            <div class="clearfix"> </div>

        </div>
        <div class="middle_grid wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-md-6">
               <div class="grid1">
                 <div class="index_img"><img src="/images/pic9.png" class="img-responsive" alt=""/></div>
                  <i class="m_home"> </i>
                  <ul class="vision">
                     <li>Wedding Invitations</li>
                     <li class="desc"><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                  </ul>
                  <div class="inner_wrap1">
                    <ul class="item_module">
                        <li class="module_left"><img src="/images/m1.jpg" class="img-responsive" alt=""/></li>
                        <li class="module_right">
                            <img src="/images/m_star.png" class="img-responsive" alt=""/>
                            <h5>Modern Wedding Invitation Videos</h5>
                            <p>Create your own wedding invtation videos</p>
                            <a href="#" class="content_btn">....read more</a>
                        </li>
                        <div class="clearfix"> </div>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="grid1">
                 <div class="index_img1"><img src="/images/pic6.png" class="img-responsive" alt=""/></div>
                  <i class="m_home1"> </i>
                  <ul class="vision">
                     <li>Wedding Invitations</li>
                     <li class="desc"><a href="#"> <img src="/images/star2.png" alt="">(236)</a></li>
                  </ul>
                  <div class="inner_wrap1">
                    <ul class="item_module">
                        <li class="module_left"><img src="/images/m2.jpg" class="img-responsive" alt=""/></li>
                        <li class="module_right">
                            <img src="/images/m_star1.png" class="img-responsive" alt=""/>
                            <h5>Traditional Wedding Invitation Videos</h5>
                            <p>Create your own wedding invtation videos</p>
                            <a href="#" class="content_btn">....read more</a>
                        </li>
                        <div class="clearfix"> </div>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="top_grid wow fadeInRight" data-wow-delay="0.4s">
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="/images/CEO.jpg" class="img-responsive" alt=""/></div>
                     <div class="sale">PREMIUM</div>
                      <div class="mask">
                       <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                        </div>
                    </div> 
                    <i class="home"></i>
                 <div class="inner_wrap">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="green">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                 </div>
               </div>
            </div>
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img1"><img src="/images/Merchant.jpg" class="img-responsive" alt=""/></div>
                     <div class="mask">
                        <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home1"> </i>
                 <div class="inner_wrap">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="yellow">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star2.png" alt="">(136)</a></li>
                    </ul>
                 </div>
               </div>
            </div>
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img2"><img src="/images/Entrepreneur.jpg" class="img-responsive" alt=""/></div>
                     <div class="mask">
                        <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="home2"> </i>
                 <div class="inner_wrap">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="blue">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star2.png" alt="">(136)</a></li>
                    </ul>
                 </div>
               </div>
            </div>
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="/images/Female Employee.jpg" class="img-responsive" alt=""/></div>
                     <div class="sale">PREMIUM</div>
                      <div class="mask">
                      <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                  <i class="home"></i>
                  <div class="inner_wrap">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="green">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="bottom_grid wow bounce" data-wow-delay="0.4s">
          <div class="col-md-6">
               <div class="grid1">
                 <div class="index_img1"><img src="/images/pic5.png" class="img-responsive" alt=""/></div>
                  <i class="m_home1"> </i>
                  <ul class="vision">
                     <li>The Chitrakars</li>
                     <li class="desc"><a href="#"> <img src="/images/star2.png" alt="">(236)</a></li>
                  </ul>
                  <div class="inner_wrap1">
                    <ul class="item_module">
                        <li class="module_left"><img src="/images/m2.jpg" class="img-responsive" alt=""/></li>
                        <li class="module_right">
                            <img src="/images/m_star.png" class="img-responsive" alt=""/>
                            <h5>Lucy-p</h5>
                            <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."</p>
                            <a href="#" class="content_btn">....read more</a>
                        </li>
                        <div class="clearfix"> </div>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img"><img src="/images/Merchant.jpg" class="img-responsive" alt=""/></div>
                     <div class="sale">PREMIUM</div>
                      <div class="mask">
                      <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                  <i class="b_home"></i>
                  <div class="inner_wrap2">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="green">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star1.png" alt="">(236)</a></li>
                    </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
              <div class="grid1">
                <div class="view view-first">
                  <div class="index_img1"><img src="/images/Manager.jpg" class="img-responsive" alt=""/></div>
                     <div class="mask">
                        <div class="info"><i class="search"> </i> Show More</div>
                        <ul class="mask_img">
                            <li class="star"><img src="/images/star.png" alt=""/></li>
                            <li class="set"><img src="/images/set.png" alt=""/></li>
                            <div class="clearfix"> </div>
                        </ul>
                      </div>
                  </div> 
                 <i class="b_home1"> </i>
                 <div class="inner_wrap2">
                    <h3>Animated explainers</h3>
                    <ul class="star1">
                      <h4 class="yellow">The Chitrakars</h4>
                      <li><a href="#"> <img src="/images/star2.png" alt="">(136)</a></li>
                    </ul>
                 </div>
               </div>
            </div>
            <div class="clearfix"></div>
            </div>
          </div>
          <div class="offering">
              <h2>What can The Chitrakars offer to you ?</h2>
              <h3>Ut wisi enim ad minim veniam, quis</h3>
              <ul class="icons wow fadeInUp" data-wow-delay="0.4s">
                 <li><i class="icon1"> </i><span class="one"> </span></li>
                 <li><i class="icon2"> </i><span class="two"> </span></li>
                 <li><i class="icon3"> </i><span class="three"> </span></li>
                 <li><i class="icon4"> </i><span class="four"> </span></li>
                 <li><i class="icon5"> </i></li>
              </ul>
              <div class="real">
                <h4>Get your video with just few clicks</h4>
                <div class="col-sm-6">
                  <ul class="service_grid">
                    <i class="s1"> </i>
                     <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                       <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                     </li>
                     <div class="clearfix"> </div>
                   </ul>
                 </div>
                 <div class="col-sm-6">
                  <ul class="service_grid">
                    <i class="s2"> </i>
                     <li class="desc1 wow fadeInRight" data-wow-delay="0.4s">
                       <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                     </li>
                     <div class="clearfix"> </div>
                   </ul>
                 </div>
                 <div class="clearfix"> </div>
                 </div>
              </div>
          </div>
      </div>
  
   <div class="footer">
    <div class="container">
     <div class="footer_top">
       <h3>Subscribe to our newsletter</h3>
       <form>
        <span>
            <i><img src="/images/mail.png" alt=""></i>
            <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
            <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
            <div class="clearfix"> </div>
        </span>                 
       </form>
      </div>
      <div class="footer_grids">
         <div class="footer-grid">
            <h4>Ipsum Quis</h4>
            <ul class="list1">
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Mirum est</a></li>
                <li><a href="#">placerat facer</a></li>
                <li><a href="#">claritatem</a></li>
                <li><a href="#">sollemnes </a></li>
            </ul>
          </div>
          <div class="footer-grid">
            <h4>Quis Ipsum</h4>
            <ul class="list1">
                <li><a href="#">placerat facer</a></li>
                <li><a href="#">claritatem</a></li>
                <li><a href="#">sollemnes </a></li>
                <li><a href="#">Claritas</a></li>
                <li><a href="#">Mirum est</a></li>
            </ul>
          </div>
          <div class="footer-grid last_grid">
            <h4>Follow Us</h4>
            <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
              <li><a href=""> <i class="fb"> </i> </a></li>
              <li><a href=""><i class="tw"> </i> </a></li>
              <li><a href=""><i class="google"> </i> </a></li>
              <li><a href=""><i class="u_tube"> </i> </a></li>
            </ul>
            <div class="copy wow fadeInRight" data-wow-delay="0.4s">
              <p>© 2014 The Chitrakars. </p>
            </div>
          </div>
          <div class="clearfix"> </div>
       </div>
      </div>
   </div>
</body>
</html>      