<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon" />
<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
   <title>The Chitrakars:Logo Creation</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/Sidebar.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.3.0.js"></script>
       <script type="text/javascript" src="/js/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/popup.css">
    <script src='/js/firebase.js'></script>
    <link rel="stylesheet" href="/css/pagenav.css">
    <script src="/js/mouseEvents.js"></script>
    <script type="text/javascript" src="/js/ui_constants.js"></script>
    <script type="text/javascript" src="/js/loader.js"></script>
    <script type="text/javascript" src="/js/logoId.js"></script>
    <script type="text/javascript" src="/js/richTextEditor.js"></script>
    <script type="text/javascript" src="/js/openVideoOnMouseOver.js"></script>
 

 
<script>
$(function() {
 
  if('<%=data.Logoupload%>' !=''){
  document.getElementById(imgids[0]).src='/projectImages/'+'<%=data.Logoupload%>';
  $('#'+imgids[0]).css('height',400);
  $('#'+imgids[0]).css('width',900); 
   $('#file-input11').attr('disabled', 'disabled');
   $('#file-input11').attr('pointerEvents', 'none');
   $('#titileName').css('margin-top','-0.5%');
   
   document.getElementById(ids[0]).style.pointerEvents='none';
document.getElementById('saveId').style.display='none';

document.getElementById('buyMsg').innerHTML='<%=buyMsg%>';
  }
  if('<%=data.LogoTagLine%>' !='')
  {
    document.getElementById(ids[0]).value=<%-JSON.stringify(data.LogoTagLine)%>;
    $('#file-input11').attr('disabled', 'disabled');
   $('#file-input11').attr('pointerEvents', 'none');
   $('#titileName').css('margin-top','-0.5%');
   
   document.getElementById(ids[0]).style.pointerEvents='none';
document.getElementById('saveId').style.display='none';

document.getElementById('buyMsg').innerHTML='<%=buyMsg%>';
  }
  })
 
    var full_url = document.URL
    var url_id = full_url.substring(full_url.lastIndexOf('/') + 1);
    var config = {
    apiKey: "AIzaSyCZWa5wChnendahT6sTdfNJhmFbnI8Cz5g",
    authDomain: "productexplainer.firebaseapp.com",
    databaseURL: "https://productexplainer.firebaseio.com",
    projectId: "productexplainer",
    storageBucket: "productexplainer.appspot.com",
    messagingSenderId: "350462790215"
};

firebase.initializeApp(config);
var messaging = firebase.messaging();
messaging.onMessage((notif) => {
var title=notif.notification.title;
var options ={
body:notif.notification.body,
icon:notif.notification.icon
}
noti= new Notification(title, options);
 });

</script>
  </head>

  <body style="border:10px;border-style:solid;border-color:#6F6E6D;" id='bodytag'>
<div id="preloader"></div>

    <form id="contact-form" action="<%-fullurl%>" method="post" enctype = "multipart/form-data" >
      <input type="text" id='filledDetailsStatus' name='filledDetailsStatus' style="display: none" />
      <div style="width:100%">
        <div style="float:left;width:60%;margin-top:1%;"> 
            <!-- <fieldset> -->
                <!-- <label  style="color:white;margin-left:18%">Status:</label> -->
            <input type="checkbox" id="myCheck" style="margin-left:20%;pointer-events: none;display: none">
            <!-- </fieldset> -->
            <input  style="margin-left: 15%;"  type="button" id='saveId' value="Save" onclick="chcek()">
    <h3 style="text-align:center;color:white;cursor:default;margin-top: -2.5%" id='titileName'>LOGO</h3>
    <div style="margin-top:-4.5%;font-size:20px;" id='openPopUP'>
                         <% if(elem.TemplateDemoVideo ==''){ %>
   
 <% } else{ %>  
                      <a href="<%= elem.TemplateDemoVideo %>" class="PlayDemoVideo" style="float: right;color:white">Play demo video</a><br><% } %> 
                       
                       <!--  <input id="websiteName" type="text" class="form-control "  size='30' name="websiteName" style='display:none'>  -->
                    </div>
  </div>

    <div style="float:right;width:30%;margin-top:0.5%;" > 
        
      <!-- <button type="submit" id='Submit'>
      <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="26px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve" >
      <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
        l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
      </svg>
      <small>send</small>
      </button> -->

    </div>
  </div>
 
    <div id=wrapper>
        <div id='errorMessage' style="text-align: center"></div>
        <div id='buyMsg' style="color: green;text-align: center"></div>
        
      
      <div id='left' style="width:72%;height:97%;margin-left:3.5%;margin-top:1%;border:4px;border-style:outset;border-color:#C1C0BF">
            
        
        
       

        <input id="logoUploadID" type="text" name='Logoupload' style="display: none;" />

               
       

   
    <div style=""><%include logo_svg_ejs_files/svg %></div>
   



  
      
       
      </div>
 <!-- <div class="preload">
</div> -->
      <div id='editableAreaId' style="background-color:#333333;height:97%;width:18%;border:4px;border-style:outset;border-color:#C1C0BF;margin-top:1%">
            <div class="" >
               
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #fff; font-size: 20px; padding-left:0px; padding-right:0px;padding-top:100px;" id='defaultActionTitle'>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #fff; font-size: 20px; padding-left:0px; padding-right:0px;"> 
                     Place over the screen and edit the templates and Render Video
                     </div> 
                     
                          </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px; padding-left:0px; padding-right:0px;" id='summernote_textarea'>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #fff; font-size: 20px; padding-left:0px; padding-right:0px;"> 
                       <div id ="actionTitle">Write your text here</div>
                     </div> 
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px; margin-top: 10px; "> 
                     
                       
                      <textarea  id="textEditorId" name=""></textarea>
                     </div> 
                      <br><span id="errmsgId" class='errmsg' style="color: #ff9900"></span><br>
                   </div> 

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;text-align: center;" id='imageEditSectionId'>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #fff; font-size: 20px; padding-left:5%; padding-right:0%;"> 
                    Upload your Image here
                     </div>
                     <br><br>
              <!-- <div class="image-upload" >
    <label for="file-input" >
        <img src="/images/images.png" width="35" />
    </label>

    <input id="file-input1" type="file" accept="image/*"/>
</div> -->
 

  <!-- leftbox -->
  <div class="box-2" style="margin-left:15%">
    <div class="imagePlaceForCrop"></div>
  </div>
  <!--rightbox-->
  <!-- <div class="box-2 img-result hide"> -->
    <!-- result of crop -->
    <!-- <img class="cropped" src="" alt=""> -->
  <!-- </div> -->
  <!-- input file -->
  <div class="box">
    <!-- <div class="options hide"> -->
      <!-- <label> Width</label> -->
      <!-- <input type="number" class="img-w" value="300" min="100" max="1200" style="display: none;" /> -->
    <!-- </div> -->
    <!-- save btn -->
    <button id = "saveimgComp" class="btn save hide"  type="button" >Save</button>
    
  </div>
                   
                </div>
              

               

                

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;" id='stock_images_div'>
                    <div class="collapse-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="trigger collapsed">
                                        Stock Images
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                   <div style="width: auto; height: auto; float: left; margin-right: 10px ; border:1px solid #2a2a2a; padding: 5px; margin-top: 10px;">
                                       <img src="/images/video-play.png">
                                   </div>
                                      <div style="width: auto; height: auto; float: left; margin-right: 10px ; border:1px solid #2a2a2a; padding: 5px; margin-top: 10px;">
                                       <img src="/images/video-play.png">
                                   </div>
                                     <div style="width: auto; height: auto; float: left; margin-right: 10px ; border:1px solid #2a2a2a; padding: 5px; margin-top: 10px;">
                                       <img src="/images/video-play.png">
                                   </div>
                                     <div style="width: auto; height: auto; float: left; margin-right: 10px ; border:1px solid #2a2a2a; padding: 5px; margin-top: 10px;">
                                       <img src="/images/video-play.png">
                                   </div>
                                     <div style="width: auto; height: auto; float: left; margin-right: 10px ; border:1px solid #2a2a2a; padding: 5px; margin-top: 10px;">
                                       <img src="/images/video-play.png">
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                
              
            </div>

   

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
    <script  src="/js/image_upload.js"></script>
     </form>
  </body>
  
</html>


